{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Current Weather</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>

	<!-- replace this html -->
	<div class="container">
		<div class="jumbotron text-light bg-primary">
			<h1>Welcome to the Shrimp Shrimp Storyboard</h1>
			<p>Now pick the mode you WANT!</p>
		</div>

		<a href="/draw/index3/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Random topic</a>
		<a href="/draw/index4" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"></a>
		
	</div>
	
	<!-- /replace this html -->
</body>
</html>
